/*noinspection CssUnknownTarget*/
@import "material-design-lite/material";

$accent-color: #F78B26;
$main-color: #37474f;
$background-color: #eee !important;
$title-color: rgba(0, 0, 0, 0.8);
$icon-color: rgba(255, 255, 255, 1);

// header
.mdl-layout__header {
  display: none;
  background-color: $main-color;
}

// navigation
.mdl-layout__drawer {
  border-right: 0;
  background-color: $main-color;

  .mdl-navigation {
    .mdl-navigation__link {
      color: $icon-color;
      font-weight: 900;
    }

    .mdl-navigation__link:hover {
      background-color: $accent-color;
      color: white;
    }
  }
}

.mdl-layout__drawer-button {
  color: white !important;
}

.mdl-navigation__link .material-icons {
  font-size: 24px;
  color: $icon-color;
  margin-right: 15px;
  margin-left: -5px;
  margin-top: -5px;
}

.demo-navigation {
  flex-grow: 1;
}

.logo {
  width: 150px;
  margin-left: 45px;
  margin-top: 70px;
  margin-bottom: 30px;
}

// small-screen layout
.is-small-screen {
  .mdl-layout__header {
    display: block;
  }

  .small-screen-header {
    background-color: $main-color !important;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    .mdl-layout-title {
      padding: 18px 0 0 0;
      color: white;
    }
  }
}

// content
.mdl-layout__content {
  background-color: $background-color;
}

.main-section {
  max-width: 700px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.is-small-screen {
  .main-section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// mdl buttons and textfields
.mdl-button--raised.mdl-button--colored {
  background: $accent-color;
  color: rgb(255, 255, 255);
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: $accent-color;
}

.mdl-button--raised.mdl-button--colored:active {
  background-color: $accent-color;
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: $accent-color;
}

.mdl-button--raised.mdl-button--colored .mdl-ripple {
  background: rgb(255, 255, 255);
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: $accent-color;
  border-color: $accent-color;
}

.mdl-textfield__label:after {
  background-color: $accent-color;
}

/*
.mdl-textfield.is-invalid .mdl-textfield__label:after .initial {
  background-color: $accent-color;
}

.initial .mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: rgba(0, 0, 0, .12);
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
  background-color: $accent-color;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: rgba(0, 0, 0, .26);
  font-size: 16px;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label:after {
  color: $accent-color;
  font-size: 16px;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: rgba(0, 0, 0, .26);
}
*/

// mdl cards
.mdl-card__supporting-text {
  h5 {
    //display: inline-block;
  }
}

.inner-grid {
  margin: 0 0 0 0;
}

// search field
.searchfield {
  width: 97%;
  margin: 0 50px -10px 10px;

  label span {
    position: absolute;
    margin-top: 1px;
  }

  .mdl-textfield__label {
    margin-top: -5px;
  }
}
