{% load widget_tweaks %}

{% for field in form %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {% if not field.has_changed%}
            {{ field |add_class:"mdl-textfield__input" |add_class:"initial" }}
        {% else %}
            {{ field |add_class:"mdl-textfield__input" }}
        {% endif %}
        <label for="{{ field.id_for_label }}" class="mdl-textfield__label">{{ field.label }}</label>
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <span class="mdl-textfield__error">{{ field.errors }}</span>
    </div>
{% endfor %}