{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EleFAnt</title>
    <script src="{% static 'antraege/material-design-lite/material.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'antraege/material-design-icons/iconfont/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'antraege/style.min.css' %}">
</head>

<body>
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <!-- <header class="mdl-layout__header mdl-color--grey-200">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">EleFAnt</span>
            <div class="mdl-layout-spacer"></div>
            <!--
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample"
                           id="fixed-header-drawer-exp">
                </div>
            </div>
            --
        </div>
    </header>-->
    <!-- mdl-color--blue-grey-800 -->
    <div class="mdl-layout__drawer mdl-color--grey-800">
        <header class="demo-drawer-header">
            <img src="{% static 'antraege/images/logo.gif' %}" class="logo">
        </header>
        <nav class="demo-navigation mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'antraege:new' %}"><i class="material-icons" role="presentation">description</i>Antrag
                stellen</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">find_in_page</i>Antrag
                suchen</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="/admin"><i class="material-icons" role="presentation">person</i>Log-In</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">info</i>Impressum</a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
