{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EleFAnt</title>
    <script src="{% static 'antraege/material-design-lite/material.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'antraege/material-design-icons/iconfont/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'antraege/style.min.css' %}">
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <!--
    <header class="mdl-layout__header mdl-layout__header--transparent mdl-color--orange">
    </header>
    -->
    <!-- mdl-color--blue-grey-800 -->
    <div class="mdl-layout__drawer mdl-color--blue-grey-800">
        <header class="demo-drawer-header">
            <img src="{% static 'antraege/images/logo.gif' %}" class="logo">
        </header>
        <nav class="demo-navigation mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'antraege:list' %}"><i class="material-icons"
                                                                                role="presentation">format_list_bulleted</i>Alle
                Anträge</a>
            <a class="mdl-navigation__link" href="{% url 'antraege:new' %}"><i class="material-icons"
                                                                               role="presentation">description</i>Antrag
                stellen</a>
            <a class="mdl-navigation__link" href="{% url 'antraege:search' %}"><i class="material-icons"
                                                                                  role="presentation">find_in_page</i>Antrag
                suchen</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="/admin"><i class="material-icons" role="presentation">person</i>Log-In</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">info</i>Impressum</a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-200">
        <!-- display a header on small screens -->
        <div class="small-screen-header mdl-layout__header-row"
             style="width:100%; height:56px; position:fixed; margin-bottom: 45px; z-index: 3;">
            <span class="mdl-layout-title">EleFAnt</span>
        </div>
        <section class="section--center mdl-grid mdl-grid--no-spacing"
                 style="max-width:700px; margin-top:70px; margin-bottom: 60px;">
            {% block content %}{% endblock %}
        </section>
    </main>
</div>
</body>
</html>
