{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EleFAnt</title>
    <script src="{% static 'antraege/material-design-lite/material.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'antraege/material-design-icons/iconfont/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'antraege/style.min.css' %}">
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--transparent mdl-color--grey-200">
    </header>
    <!-- mdl-color--blue-grey-800 -->
    <div class="mdl-layout__drawer mdl-color--blue-grey-800">
        <header class="demo-drawer-header">
            <img src="{% static 'antraege/images/logo.gif' %}" class="logo">
        </header>
        <nav class="demo-navigation mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'antraege:new' %}"><i class="material-icons"
                                                                               role="presentation">description</i>Antrag
                stellen</a>
            <a class="mdl-navigation__link" href="{% url 'antraege:search' %}"><i class="material-icons"
                                                                                  role="presentation">find_in_page</i>Antrag
                suchen</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="/admin"><i class="material-icons" role="presentation">person</i>Log-In</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">info</i>Impressum</a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-200">
        <section class="section--center mdl-grid mdl-grid--no-spacing"
                 style="max-width:700px; margin-bottom:0px;">
            {% block content %}{% endblock %}
        </section>
    </main>
</div>
</body>
</html>
