{% extends "antraege/index.html" %}

{% block content %}
    <style>
        .demo-card-wide.mdl-card {
            max-width: 712px;
        }

        .demo-card-wide > .mdl-card__title {
            background: url('../assets/demos/welcome_card.jpg') center / cover;
        }

        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Neuer Antrag</h2>
        </div>
        <form action="{% url 'antraege:new' %}" method="post">
            {% csrf_token %}
            <div class="mdl-card__supporting-text">
                {% include "antraege/form_snippet.html" with form=application_form %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Text...</label>
                </div>
                {% include "antraege/form_snippet.html" with form=bank_account_form %}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button type="submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Absenden
                </button>
            </div>
        </form>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
{% endblock %}