{% extends "antraege/application_detail.html" %}
{% load widget_tweaks %}

{% block application_details %}
    <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">Neuer Antrag</h2>
    </div>
    <form action="{% url 'antraege:new' %}" id="form-id" method="post">
        {% csrf_token %}
        <!-- Antrag -->
        <div class="mdl-card__supporting-text mdl-card-border">
            {% include "antraege/mdl_field_snippet.html" with field=application_form.applicant name="Antragsteller*in" %}
            {% include "antraege/mdl_field_snippet.html" with field=application_form.contact name="Ansprechpartner*in" %}
            {% include "antraege/mdl_field_snippet.html" with field=application_form.e_mail name="E-Mail" %}
            {% include "antraege/mdl_field_snippet.html" with field=application_form.total_amount name="Betrag" %}
            <br/>
            <!-- use a wider input box for the description field -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
                <label for="{{ application_form.description.id_for_label }}"
                       class="mdl-textfield__label">Verwendungszweck</label>
                {{ application_form.description |add_class:"mdl-textfield__input" }}
                <span class="mdl-textfield__error">{{ application_form.description.errors }}</span>
            </div>
        </div>
        <!-- <hr style="opacity: 0.6"> -->
        <!-- Bankdaten -->
        <div class="mdl-card--border mdl-card__supporting-text">
            {% include "antraege/mdl_field_snippet.html" with field=bank_account_form.account_holder name="Kontoinhaber*in" %}
            {% include "antraege/mdl_field_snippet.html" with field=bank_account_form.bank name="Kreditinstitut" %}
            {% include "antraege/mdl_field_snippet.html" with field=bank_account_form.iban name="IBAN" %}
            {% include "antraege/mdl_field_snippet.html" with field=bank_account_form.bic name="BIC" %}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button type="submit" id="submit-button"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                Absenden
            </button>
        </div>
    </form>
    <script>
        // this is needed to prevent empty fields from being marked as invalid
        let requiredComponents = document.querySelectorAll("[required]");
        requiredComponents.forEach(function (e) {
            e.removeAttribute('required');
        });
        // when submit button click, add required attribute back
        document.getElementById("submit-button").addEventListener("click", function () {
            requiredComponents.forEach(function (e) {
                e.setAttribute('required', true)
            })
        });
        // also when form submit event
        document.getElementById("form-id").addEventListener("submit", function () {
            requiredComponents.forEach(function (e) {
                e.setAttribute('required', true)
            })
        });
    </script>
{% endblock %}