{% extends "elefant/index.html" %}

{% block content %}
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" style="background-color:white;">
        <form action="{% url 'elefant:search' %}" method="post">
            {% csrf_token %}

            <div class="mdl-textfield mdl-js-textfield searchfield" style="">
                <!--<i class="material-icons">search</i>-->

                <input class="mdl-textfield__input" type="text" id="reference_number" name="reference_number">
                <label class="mdl-textfield__label" for="reference_number"><i class="material-icons">search</i><span
                        class="searchfield-label">Bitte gib hier die Referenznummer ein!</span></label>
            </div>
        </form>
    </div>
{% endblock %}